<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>모두의 반찬집 찬집입니다</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/chanzip.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 목차 <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" style="font-size:60px;"  href="#page-top">찬 집</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style='font-size:30px;'>
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li><a class="page-scroll" href="#streampicture">오늘의 반찬</a></li>
                    <li><a class="page-scroll" href="#portfolio">사진겔러리</a></li>
                    <li><a class="page-scroll" href="#services">영업시간</a></li>
                    <li><a class="page-scroll" href="#about">오시는길</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">어머니의 정성 담아 손수 만든 반찬</div>
                <div class="intro-heading"> 찬 집 </div>
                <div class="intro-lead-in">영업시간 11AM ~ 10PM </div>
                <!--div class="intro-lead-in">6월11일까지 임시휴무 입니다</div>
                <div class="intro-lead-in">12일 월요일에 다시만나요</div -->
		<img class="img-responsive img-centered" src="img/logo_small.png" alt="">
            </div>
        </div>
    </header>

    <section id="streampicture">
        <div class="container">
            <div class="row" id='mapContainer'>
                <div class="col-lg-12 text-center">
			<h2 class="section-heading">오늘의 반찬 (실시간)</h2>
			<img id='streamPicture' class="img-responsive img-centered">
			<div id="streamPicture_datetime"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">사진을 클릭하시면 현재사진으로 업데이트됩니다</h2>
                    <h2 class="section-subheading text-muted">오토바이 배달 가능합니다 [02-707-1238]</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
			<h2 class="section-heading">사진겔러리</h2>
			<h3 class="section-subheading text-muted">찬집의 사진겔러리 입니다</h3>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal01" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/01.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal02" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/02.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal03" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/03.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal04" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/04.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal05" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/05.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal06" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/06.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal07" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/07.jpg" alt=""></a>
	</div>
	<div class="col-lg-3 col-md-4 col-xs-6 portfolio-item">
		<a href="#portfolioModal08" class="portfolio-link" data-toggle="modal"><img class="img-responsive" src="img/dishes/08.jpg" alt=""></a>
	</div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">영업시간</h2>
                    <h3 class="section-subheading text-muted">모든 재료는 그날 시장에서 구매해 조리를 시작합니다.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11AM - 도시락 판매개시</h4>
                                    <!-- h4 class="subheading">An Agency is Born</h4 -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
					찬집의 식사가능 메뉴인 도시락이 먼저 준비 됩니다. 도시락은 계절과 당일의 반찬에 따라 메뉴가 변경되며 최고의 품질과 맛을 보장해 드립니다. 6개이상의 도시락 주문시 배달이 가능할 수 있으니 전화연락 주세요. 
				    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12PM - 반찬 판매개시</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
					찬집의 메인 반찬은 비빔밥과 도시락준비가 어느정도 끝난 후 판매가 준비됩니다. 그날에 가장 신선한 재료나 계절과 날씨에 적합한 반찬을 찬집 쉐프어머님이 선정하여 결정하지만 드셔보시고 또 드시고 싶은 음식이 있다면 이야기 해주세요. 음식결정에 적극 반영 하도록 하겠습니다.
					</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3PM ~ 5PM 추가 음식조리 </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
					특정 반찬이나 식사류의 판매가 어느정도 이루어 졌다면 재료 구비가 허락이 되는 선에서 한번더 조리를 시작합니다. 이시간에 쉐프어머님이 바쁘더라도 이해해주세요.
			  	    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10PM - 영업종료</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
					모든 판매를 마감하고 가게 정리에 들어갑니다. 반찬들은 대량으로 하지 않고 있어 그날의 반찬이 많이 소진되면 판매가 더 일찍 종료 될 수 있습니다. 신선한 반찬을 판매하고자 당분간은 빨리 소진될 수 있으니 양해바랍니다. 
				    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>많이 
                                    <br>애용해
                                    <br>주세요!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row" id='mapContainer'>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">오시는길</h2>
                    <h3 class="section-subheading text-muted">마포 E-솔랜스힐 아파트 상가에 있으며 서강대학교 체육관쪽 문방향에서 수정불한증막 방향으로 오시면 간판이 보입니다.</h3>
                </div>
	    	<div id="daumRoughmapContainer1484205925798" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading text-muted">서울시 마포구 광성로 28 상가동 지2층 102호</h2>
                </div>
            </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; 찬집 Tel: 02-707-1238</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!--li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li-->
                        <li><a href="http://www.instagram.com/chan_zip"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>TODAY: <%= today %> &#124; VISITOR: <%= visitor %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
	<div class="portfolio-modal modal fade" id="portfolioModal01" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/01.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal02" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/02.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal03" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/03.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal04" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/04.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal05" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/05.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal06" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/06.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal07" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/07.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal08" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal"><div class="lr"><div class="rl"></div></div></div>
				<div class="container"><div class="row">
				<div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><img class="img-responsive img-centered" src="img/dishes/08.jpg" alt=""></div></div>
				</div></div>
			</div>
		</div>
	</div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>


    <script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>
    
	<script src="js/chanzip.js"></script>
</body>

</html>
