<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>어머니의 마음으로 찬집</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/chanzip.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#headerChanzip">Chanzip</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#mealMenu">Menu</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#deliveryUber">Delivery</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#liveShowcase">Showcase</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#daumMap">Map</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header id='headerChanzip' class="masthead d-flex">
      <div class="container text-center my-auto">
        <h3 class="mb-5 txt-front-shopMotive">
          <em>어머니의 마음으로 꽉찬 집밥</em>
        </h3>
        <h1 class="mb-1 txt-front-shopName">찬 집</h1>
	<img class="img-responsive img-front-logo" src="img/logo_small.png" alt="">
      </div>
      <div class="overlay"></div>
    </header>

	<section class="section-seperation-white" id="about">
	</section>


    <!-- Portfolio -->
    <section id='mealMenu' class="content-section">
      <div class="container">
        <div class="content-section-heading text-center">
          <h2 class="mb-5">찬집 도시락 메뉴</h2>
          <h3 class="text-secondary mb-0">도시락의 모든 반찬 하나하나가 정성이 듬뿍들어간 음식입니다</h3>
          <h2 class="mb-5"></h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
              <span class="caption">
                <span class="caption-content">
                </span>
              </span>
              <img class="img-fluid" src="img/menu/menu_10Chan.jpg" alt="">
          </div>
          <div class="col-lg-6">
              <span class="caption">
                <span class="caption-content">
                </span>
              </span>
              <img class="img-fluid" src="img/menu/menu_Bulgogi.jpg" alt="">
          </div>
          <div class="col-lg-6">
              <span class="caption">
                <span class="caption-content">
                </span>
              </span>
              <img class="img-fluid" src="img/menu/menu_Shrimp.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- Uber Advertise -->
    <section id='deliveryUber' class="uber-getApp">
      <div class="container text-center">
		<h2 class="mb-5 txt-front-uberExplain" >배달은 우버이츠로!</h2>
        	<a class="btn btn-orange btn-xl" href="https://play.google.com/store/apps/details?id=com.ubercab.eats&hl=ko">갑시다 앱 받으러 GO!</a>
      </div>
    </section>

    <section id="liveShowcase" class="content-section bg-primary text-white">
	<!-- img id='streamPicture' class="img-responsive img-centered" -->
      <div class="container text-center">
        <h2 class="mb-4">찬집 반찬 실시간 쇼케이스</h2>
	<p>
        <a href="streamPicture.html" class="btn btn-xl btn-light mr-4">실시간 사진</a> 
	</p>
	<p>
        <a href="streamVideo.html" class="btn btn-xl btn-dark">실시간 동영상(데이터주의)</a>
	</p>
	<div id="streamPicture_datetime"></div>
      </div>
    </section>

    <!-- Map -->
    <section id="daumMap" class="map section-map">
	<div class="container">
            <div class="row" id='mapContainer'>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">오시는길</h2>
                    <h3 class="section-subheading text-muted">서울시 마포구 광성로 28 상가동 지2층 102호</h2>
                </div>
                <div id="daumRoughmapContainer1484205925798" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            </div>

                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>

	<footer class="footer text-center">
	<div class="container">
	<ul class="list-inline mb-5">
		<li class="list-inline-item">
		<a class="social-link rounded-circle text-white" href='http://www.instagram.com/chan_zip'>
		<i class="icon-social-instagram"></i>
		</a>
		</li>
	</ul>
	<p class="text-muted small mb-0">Copyright &copy; 찬집 Tel: 02-707-1238</p>
	</div>
	</footer>


	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
	<i class="fa fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>
	
	<!-- Custom scripts for this template -->
	<script src="js/stylish-portfolio.js"></script>

	<script src="js/chanzip.js"></script>
	</body>

</html>
